[user]
	email = me@thomasanderson.cloud
	name = thomas
[merge]
	conflictstyle = diff3
	tool = vimdiff
[diff]
	tool = vimdiff
[core]
	editor = vi
[push]
	autoSetupRemote = true
[qclone]
	prefix = git@github.com:
	owner = tnyeanderson
	suffix = .git
[pager]
	diff = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less
