[user]
	email = me@thomasanderson.cloud
	name = thomas
[merge]
	conflictstyle = diff3
[core]
	editor = vi
[push]
	autoSetupRemote = true
[qclone]
	prefix = git@github.com:
	user = tnyeanderson
	suffix = .git
